:root {
    --colorMain: black;
    --colorError: red;
}

nav {
    ul {
        padding: 0;
        li {
            list-style-type: none;
        }
    }
}

article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: thin solid var(--colorMain);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    &:first-of-type {
        margin-top: 1rem;
    }

    p {
        margin: 0;
    }
}

#searchForm {
    display: flex;
    flex-flow: row nowrap;
}

.error {
    margin-bottom: 1rem;
    padding: 1rem;
    border: thick solid var(--colorError);
    border-radius: 1rem;

    p {
        margin: 0;
    }
}