:root {
    --colorMain: black;
    --colorError: red;

    --imgHomeWidth: 480px;
    --imgHomeHeight: 320px;
}

body > nav {
    ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}
nav {
    ul {
        margin: 0;
        padding: 0;
    }
}
li {
    list-style-type: none;
}

article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    border: thin solid var(--colorMain);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    &:first-of-type {
        margin-top: 1rem;
    }

    p {
        margin: 0;
    }
}

#searchForm {
    display: flex;
    flex-flow: row nowrap;
}

.error {
    margin-bottom: 1rem;
    padding: 1rem;
    border: thick solid var(--colorError);
    border-radius: 1rem;

    p {
        margin: 0;
    }
}

#home {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    p {
        margin: 0;
    }
    
    img {
        width: 100%;
        max-width: var(--imgHomeWidth);
        max-height: var(--imgHomeHeight);
    }

    @media(min-width: 768px) {
        flex-flow: row nowrap;
    }
}

#others {
    font-size: 0.8rem;
    > p {
        margin: 0;
    }
}

.employees h2 {
    font-size: 1rem;
}